html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    position: relative;
    font-family: 'Lato', sans-serif;
    // overflow-x: hidden;
}

// ==========================================

//  отодвинул подвал ======

.wrap {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.cont {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}



//  отодвинул подвал ======

// ==========================================

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

button {
    outline: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}


// ======================================

// ==    хлебные крошки  =============



.breadcrumbs {
    &__inner {
        padding: 20px 0px;
    }

    &__list {
        li {
            display: inline-block;
            position: relative;

            &+li {
                padding-left: 16px;

                &::before {
                    content: '/';
                    position: absolute;
                    left: 5px;
                    color: #b0bec5;
                }
            }
            &:last-child{
                a, span{
                    color: #000;
                }
            }
            a{
                color: #b0bec5;
            }
        }
    }
}
// ==    хлебные крошки  =============

// ==========================================