@media (max-width:1500px) {
  .profi__item {
    max-width: 46%;
  }




}

@media (max-width:1200px) {

  .slogan {

    span {
      font-size: 30px;
    }
  }

  .services__wrapper-title {
    font-size: 35px;
  }

  .services__wrapper-inner {
    justify-content: space-around;
  }

}

// =======================================  1140  ==================
@media (max-width:1140px) {
  .advantages__inner {
    justify-content: center;
  }

  .comments__item-ava {
    display: none;

  }
}

// =======================================  1020  ==================
@media (max-width:1020px) {
  .services__wrapper-item {
    min-width: 32%;
    height: 0;
    padding-bottom: 32%;
  }
}

// =======================================  1000  ==================


@media (max-width:1000px) {


  .slogan {
    span {
      font-size: 30px;
      max-width: 200px;
    }
  }

  .header__contact {
    a {
      font-size: 18px;
    }
  }

  .slider__item {
    &-img {
      overflow: hidden;
      height: 400px;
      width: 100%;
    }

  }

  .about__inner {
    display: block;

    .about__inner-photo {
      width: 100%;
      height: 300px;
      margin: 0 auto;
    }
  }

  .about__inner .about__inner-text {
    max-width: 100%;
  }

}

// ====================  960  ==================



@media (max-width:960px) {

  .footer__social ul {
    max-width: 165px;
    justify-content: center;
  }

}

// ====================  900  ==================


@media (max-width:900px) {}




// ====================  850  ==================


@media (max-width:850px) {

  .header__inner-info {
    padding: 10px 0px;

    .slogan {

      span {
        font-size: 28px;
        margin: 0px;
      }

      img {
        display: none;
      }
    }
  }

  .models__wrapper {
    padding: 30px 0px;
  }

  .profi__item {
    max-width: 80%;
  }

  .form__wrapper {
    flex-direction: column;
    text-align: center;
  }

  .form__content {
    width: 100%;
    margin-bottom: 15px;
  }

  .form__form {
    width: 100%;
  }

  .contacts__map {
    display: none;
  }

  .services__wrapper-title {

    h4,p {

      &::after,
      &::before {
        content: '';
        display: none;
      }

    }
  }

}


// ====================  800  ==================

@media (max-width:800px) {

  .footer__inner {

    .header__work {
      display: none;
    }

  }

  .comments__item-ava {
    display: flex;
  }

  .comments__item-content {
    max-width: 550px;
    width: 100%;
  }

}

// =======================================  770  ==================
@media (max-width:770px) {
  .services__wrapper-item {
    min-width: 48%;
    height: 0;
    padding-bottom: 48%;
  }
}


// ====================  750  ==================

@media (max-width:750px) {

  .header__inner-info {
    .slogan {
      display: none;
    }
  }

  .header__menu ul {
    position: absolute;
    display: none;
    position: absolute;
    top: 46px;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
    top: 40px;
    z-index: 5;
  }

  .header__menu {

    .burger {
      display: block;

    }
  }

  .header__menu ul li {
    display: block;
    text-align: center;
    background-color: #ffc61a;
    padding: 10px;
    border-bottom: 3px solid #000;
  }

  .slider__item-title {

    span {
      font-size: calc(18px + (52 + 52 * 0.7) * ((100vw - 320px) / 1200));
    }
  }

  .services__wrapper-title {
    h4 {
      font-size: calc(16px + (18 + 18 * 0.7) * ((100vw - 320px) / 1200));
    }

    margin-bottom: 30px;
  }

  .footer__inner {
    justify-content: space-around;
  }

  .services__wrapper {
    padding: 30px 0px;
  }

  .services__wrapper-item {

    .text {
      font-size: calc(18px + (5 + 5 * 0.7) * ((100vw - 320px) / 1200));
    }
  }

  .contact {

    .container {
      flex-direction: column;

      .contacts__maps {
        max-width: 80%;
        margin-bottom: 15px;
      }
    }

  }
}

// ====================  600  ==================

@media (max-width:600px) {

  .profi__item {
    max-width: 90%;
  }


  .about__wrapper {
    .services__wrapper-title {
      margin-bottom: 10px;

      h4 {
        font-size: 30px;
      }
    }
  }

  .about__inner-text p {
    font-size: 16px;
  }

}


// ====================  550  ==================



@media (max-width:550px) {


  .header__work {
    display: none;
  }

  .header__contact {
    margin-right: 10px;
  }


  .footer__inner {
    flex-wrap: wrap;
  }


  .slider__item {
    &-img {
      overflow: hidden;
      height: 300px;
      width: 100%;
    }
  }

  .button {
    flex-wrap: wrap;
  }

  .comments__item-ava {
    display: none;

  }

  .about__inner-text {
    font-size: 16px;
  }

  .advantages__wrapper {
    padding-top: 30px;
  }

  .profi__wrapper {
    padding-top: 30px;
  }

  .profi__inner {
    padding: 30px 0px;
  }

  .advantages {
    padding-bottom: 30px;
  }

}

// =======================================  520  ==================
@media (max-width:520px) {
  .services__wrapper-item {
    min-width: 80%;
    height: 0;
    padding-bottom: 80%;
  }
}

// ====================  500  ==================

@media (max-width:500px) {

  .profi__item {
    flex-direction: column;
    min-width: 90%;
    max-height: 500px;
    height: 100%;


    .profi__slider-text {
      max-width: 100%;
    }

    .profi__slider-ava {
      width: 100%;
      height: 350px;
    }
  }



  .about__wrapper {
    .services__wrapper-title {
      h4 {
        font-size: 20px;
      }
    }
  }
}




// ====================  440  ==================


@media (max-width:440px) {

  .services__wrapper-title {
    font-size: 18px;
    line-height: 25px;


    
  }

  .form__content {
    h4 {
      font-size: 30px;
    }
  }
}

// ====================  400  ==================


@media (max-width:400px) {


  .models__slider-item {
    padding-bottom: 3%;
    background-size: cover;
  }


  // .services__wrapper-title {

  //   h4,p {
  //     padding: 0 40px;

  //   }
  // }

}




@media (min-width:750px) {
  .header__menu ul {
    display: flex !important;
  }
}